
/* колір заголовків #212121  */
/* колір основного тексту #757575 */
/* Білий #FFFFFF */
/* акцент #2196F3 */
/* колір фону F5F5F5 */
:root{
    --primary-text-color: #757575;
    --title-text-color: #212121;
    --accent-text-color: #2196F3;
    --primary-white-color: #FFFFFF;
    --secondary-back-color: #F5F4FA;
    --background-color: #2F303A;
    --accent-button-color: #188CE8;
    --phone-mail-color: rgba(255, 255, 255, 0.6);
    --coloreeeeee: #EEEEEE;
    --border: #ECECEC;
    --border-clients: #AFB1B8;
    --herobg: #C4C4C4;
    --primary-white-color01: rgba(255, 255, 255, 0.1);
}


body {
    color: var(--primary-text-color);
    background-color: var(--primary-white-color);
    font-family: "Roboto", sans-serif;
    letter-spacing: 0.03em;
}

.container{
    width: 1200px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 15px;
    padding-right: 15px;
    /* outline: 2px solid #000000; */
}
h1,h2,h3,h4,h5,h6,p,ul{
    margin-top: 0;
    margin-bottom: 0;
}

ul{
margin: 0;
padding:  0;
list-style: none;
}
img{
    display: block;
    max-width: 100%;
}

.gallery{
padding: 0;
margin-top: 0;
margin-bottom: 0;
}

/* Утиліти */

.link{
text-decoration: none;
}

/* Шапка сайту */
.header{
    border-bottom: 1px solid var(--border);
}
.header-nav{
    display: flex;
    align-items: center;
}


.header-nav .item + .item{
    margin-left: 50px;
}
/* .header-nav .item:not( :last-child){
margin-right: 50px;
} */

/* .header-nav .item:last-child{
    margin-right: 0;
} */


.header-nav .link{
color: var(--title-text-color);
font-weight: 500;
font-size: 14px;
line-height: 1.14;
letter-spacing: 0.02em;
display: block;
padding-top: 30px;
padding-bottom: 30px;
}

.header-main{
    display: flex;
}

.header-nav .link:hover,
.header-nav .link:focus,
.header-nav .link.curent {
    color: var(--accent-text-color);
}

/* Mail */
.header-contact .mail {
    color: var(--primary-text-color);
    text-decoration: none;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    display: flex;
    padding-top: 30px;
    padding-bottom: 30px;
    align-items: center;
}
.item-mail{
    margin-right: 50px;
}

.mail-icon{
    margin-right: 10px;
    fill: currentColor;
}

.header-contact .mail:hover,
.header-contact .mail:focus{
    color: var(--accent-text-color);
    fill: var(--accent-text-color);

}


.header-contact{
    display: flex;
    margin-left: auto;
}
.header-contact .item + .item{
    margin-left: 50px;
}

.phone-icon{
    margin-right: 10px;
    fill: currentColor;
}

.header-contact .tel {
    color: var(--primary-text-color);
    text-decoration: none;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    display: flex;
    padding-top: 30px;
    padding-bottom: 30px;
}

.header-contact .tel:hover,
.header-contact .tel:focus {
    color: var(--accent-text-color);
}
.tel:hover{
    fill: var(--accent-text-color);
}


/* Logo */
.logo1{
font-family: 'Raleway';
font-weight: 700;
font-size: 26px;
line-height: 1.19;
letter-spacing: 0.03em;
text-decoration: none;
margin-right: 93px;
}

.logo1 .web{
color: var(--accent-text-color);
}
.logo1 .studio{
color: #000000;
}



/* Hero section */


.hero-main{
max-width: 1600px;
padding-top: 200px;
padding-bottom: 200px;
margin-left: auto;
margin-right: auto;
background-color: var(--herobg);
background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hero.jpg);
background-size: cover;
background-repeat: no-repeat;
background-position: center;
text-align: center;

}


.hero-title{
font-weight: 900;
font-size: 44px;
max-width: 600px;
line-height: 1.36;
color: var(--primary-white-color);
text-transform: uppercase;
text-align: center;
margin-top: 0;
margin-bottom: 30px;
margin-left: auto;
margin-right: auto;

}
/* Button */
button{
color: var(--primary-white-color);
background-color: var(--accent-text-color);
cursor: pointer;
font-weight: 700;
font-size: 16px;
line-height: 1.88;
text-align: center;
letter-spacing: 0.06em;
border-color: transparent;
border-radius: 4px;
box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}
.order{
    padding: 10px 32px;
        /* display: block;
        padding-top: 30px;
        padding-bottom: 30px; */
}

button:hover,
button:focus{
    color: var(--primary-white-color);
    background-color: var(--accent-button-color);
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
}

/* Features */
.visually-hidden {
position: absolute;
white-space: nowrap;
width: 1px;
height: 1px;
overflow: hidden;
border: 0;
padding: 0;
clip: rect(0 0 0 0);
clip-path: inset(50%);
margin: -1px;
}
.features-main{
padding-top: 94px;
padding-bottom: 47px;
}

.features{
display: flex;
gap: 30px;
}

/* .features .item::before{
    content: '';
    height: 120px;
    display: block;
    background-color: var(--secondary-back-color);
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 4px;
    margin-bottom: 30px;
}

.features .item:nth-child(1)::before{
    background-image: url(../../goit-markup-hw-04/images/antenna.svg)
}

.features .item:nth-child(2)::before{
    background-image: url(../images/clock.svg);
}
.features .item:nth-child(3)::before {
    background-image: url(../images/diagram.svg);
}

.features .item:nth-child(4)::before {
    background-image: url(../images/astronaut.svg);
}



.features .item + .item{
    margin-left: 30px;
} */

.features .item {
    flex-basis: 270px;
}

.features-icon{
    height: 120px;
    display: flex;
    align-items: center;
    justify-content: center;
    
    background-color: var(--secondary-back-color);
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 4px;
    
    margin-bottom: 30px;
}

.features .title{
font-weight: 700;
font-size: 14px;
line-height: 1.14;
letter-spacing: 0.03em;
text-transform: uppercase;
color: var(--title-text-color);
margin-top: 0px;
}

.features .paragraph{
font-size: 14px;
line-height: 1.71;
color: var(--primary-text-color);
}
    
/* About */
.about{
padding-top: 47px;
padding-bottom: 94px;
}

.about-title,
.team-title,
.clients-title{
font-weight: 700;
font-size: 36px;
line-height: 1.16;
text-align: center;
letter-spacing: 0.03em;
color:var(--title-text-color);

margin-top: 0;
margin-bottom: 50px;

}

.what-we-do{
    display: flex;
    justify-content: center;
}

.what-we-do > .item{
    margin-right: 30px;
    margin-bottom: 0px;
    display: block;
}

.what-we-do .item:nth-child(3n) {
    margin-right: 0;
}

/* Team */

.our-team{
    background-color: var(--secondary-back-color);
    padding-top: 94px;
    padding-bottom: 94px;
}


.team-flex-container .item{
    background-color: var(--primary-white-color);

}

.team-flex-container .item + .item{
    margin-left: 30px;
}


.names{
padding-top: 30px;
padding-bottom: 30px;
}

.team .title{
font-weight: 500;
font-size: 16px;
line-height: 1.18;
text-align: center;
letter-spacing: 0.03em;
color: var(--title-text-color);
}

.team .paragraph{
color: var(--primary-text-color);
font-size: 16px;
line-height: 1.18;
letter-spacing: 0.03em;
text-align: center;
color: var(--primary-text-color);
margin-top: 0;
margin-bottom: 16px;
}

.team-links-list{
    display: flex;
    gap: 10px;
    justify-content: center;
}

.team-link{
    display: flex;
    width: 44px;
    height: 44px;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    fill: var(--border-clients);
}

.team-link:hover,
.team-link:focus{
    background-color: var(--accent-text-color);
    fill: var(--primary-white-color);
}

.team{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.team .item{
    background-color: var(--primary-white-color);
    border-radius: 0px 0px 4px 4px;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
}


.item .title{
    margin-bottom: 10px;
}

.team .item + .item{
    margin-left: 30px;
}

/* Clients */

.clients{
    padding-top: 94px;
    padding-bottom: 94px;
}

.clients-list{
    display: flex;
    gap: 30px;
}

.client-link{
    display: flex;
    width: 170px;
    height: 92px;
    border: 1px solid var(--border-clients);
    border-radius: 4px;
    justify-content: center;
    align-items: center;
    fill: var(--border-clients);
}

.client-link:hover,
.client-link:focus{
    fill: var(--accent-text-color);
    border: 1px solid var(--accent-text-color);
}

/* Footer */
.footer-main{
    background-color: var(--background-color);
    padding-top: 60px;
    padding-bottom: 60px;
}
.logo2{
font-family: 'Raleway';
font-weight: 700;
font-size: 26px;
line-height: 1.19;
letter-spacing: 0.03em;
text-decoration: none;
}

.logo2 .web{
    color: var(--accent-text-color);
}
.logo2 .studio{
    color: var(--primary-white-color);
}
.footer-address{
    margin-top: 20px;
    display: flex;
}
.footer-contact .item:nth-child(3n){
    margin-bottom: 0;
}
.footer-contact .address{
font-style: normal;
font-size: 14px;
line-height: 1.71;
letter-spacing: 0.03em;
color: var(--primary-white-color);
}

.footer-contact .mail{
font-weight: 400;
font-style: normal;
font-size: 14px;
line-height: 1.71;
letter-spacing: 0.03em;
color: var(--phone-mail-color);
}

.footer-contact .phone{
font-weight: 400;
font-style: normal;
font-size: 14px;
line-height: 1.71;
letter-spacing: 0.03em;
color: var(--phone-mail-color);
}

.footer-contact .item{
    margin-bottom: 9px;
}

.footer-contact .link:hover,
.footer-contact .link:focus{
    color: var(--accent-text-color);
}

/* Посилання в футері */

.footer-social{
    margin-left: 70px;
}

.footer-social-links {
    fill: var(--primary-white-color);
    height: 44px;
    width: 44px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--primary-white-color01);
}

.footer-social-links:hover,
.footer-social-links:focus {
    background-color: var(--accent-text-color);

}


.footer-title{
    text-transform: uppercase;
    color: var(--primary-white-color);
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 16px;
    margin-bottom: 20px;
}
.footer-list{
    display: flex;
    gap: 10px;
}

.footer-item{
    width: 44px;
    height: 44px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer-position{
    display: flex;
    align-items: baseline;
}



/* Portfolio */

/* Portfolio buttons */

.portfolio-btn{
font-weight: 500;
font-size: 16px;
font-family: inherit;
line-height: 1.62;
text-align: center;
letter-spacing: 0.03em;
color: var(--title-text-color);
background-color: var(--secondary-back-color);
cursor: pointer;
border-color: transparent;
border-radius: 4px;
padding: 6px 25px;
box-shadow: none;
}

.buttons{
    display: flex;
    justify-content: center;
    margin-bottom: 50px;
}


.buttons .item + .item{
    margin-left: 8px;
}

/* Gallery */

.main-gallery{
    padding-top: 94px;
    margin-bottom: 94px;

}
.gallery{
    display: flex;
    flex-wrap: wrap;
}


.gallery-text{
padding: 20px 20px 20px 24px;
border-left: 1px solid var(--coloreeeeee);
border-right: 1px solid var(--coloreeeeee);
border-bottom: 1px solid var(--coloreeeeee);
}

.gallery .title{
font-weight: 700;
font-size: 18px;
line-height: 2.00;
letter-spacing: 0.06em;
color: var(--title-text-color);
}

.gallery .paragraph{
font-size: 16px;
line-height: 1.88;
letter-spacing: 0.03em;
color: var(--primary-text-color);
margin-bottom: 0px;
margin-top: 4px;
}

.gallary-links{
    text-decoration: none;
}


.flex-item{
    margin-right: 30px;
    margin-bottom: 30px;

    flex-basis: calc((100% - 2 * 30px) / 3);
}

.flex-item:nth-child(3n){
    margin-right: 0;
}

.flex-item:nth-last-child(-n+3){
    margin-bottom: 0;
}

.flex-item:hover,
.flex-item:focus{
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12),
        0px 4px 4px rgba(0, 0, 0, 0.06),
        1px 4px 6px rgba(0, 0, 0, 0.16);
}




/* test */


